@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Raleway&family=Roboto&display=swap');
body{
  background-color:#2b2b2b;
}
main{
  display:flex;
  justify-content:center;
}
/* Block */
.card{
  background-color:white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  max-width:300px;
  transition: all 0.3s ease;
  margin:30px
}

.card:hover{
  box-shadow:1px 1px 10px rgba(0,0,0,1)
}

/* Element */
.card__header{
  background-color:grey;
  overflow:clip;
}

.card__header img{
  margin:0;
  padding:0;
  display:block;
  width:100%;
  height:auto;
  transition: all 0.3s ease;
  opacity:.5;
}

.card__header img:hover{
  opacity:1;
  transformation:scale(1.05);
}

.card__body{
  padding:15px;
}

.card__body--vip{
  background-color:#2abd22;
}
.card__body--raz{
  background-color:#e87523;
}
.card__body--kj{
  background-color:#ebc934;
}
.card__body a{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color:white;
}

.card__body a:hover{
  text-decoration:none
}

.card__footer{
  padding:15px;
  font-family: 'Raleway', sans-serif;
  display:flex;
  justify-content: space-around;
  font-size
}

.card__footer button{
  height:100%;
}

.card__footer p{
  margin:0;
}
/* Modifier */
